.form-control {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form-control.override-margin {
    margin-bottom: 0.1rem;
  }
  
  .text-left {
    text-align: left;
  }
  
  .form-label {
    font-size: 1.25rem;
  }
  
  .form-textarea {
    padding: 0.5rem;
    display: block;
    width: 100%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  
  .spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #0d6efd;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0d6efd transparent transparent transparent;
  }
  
  .spinner div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .spinner div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .spinner div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .text-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group.selector {
    width: max-content;
  }
  
  .checkbox-label input {
    margin-right: 0.5rem;
  }
  
  .form-check.recyclable {
    margin-bottom: 1rem;
  }
  
  .react-datepicker__input-container input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .time-container {
    display: block;
    width: max-content;
  }
  
  .duration-container {
    display: block;
  }
  
  .react-time-picker__wrapper {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .action-button.inline-button {
    display: inline;
    width: unset;
    margin: 1rem 0.5rem 0.5rem 0;
  }
  
  .footer {
    margin: 30vh;
  }
  
  .form-control.date-chooser {
    max-width: 20ch;
  }
  
  .form-control.time-chooser {
    max-width: 20ch;
  }
  
  .form-control.vacancy-chooser {
    max-width: 20ch;
  }
  
  .image-preview-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .image-preview-container img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
  }
  
  .gap-vertical {
    margin-top: 0.5rem;
  }
  
  .gap-horizontal {
    margin-left: 0.5rem;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .avatar-image {
    flex: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .rounded-rect-image {
    flex: none;
    height: 60px;
    width: 80px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .gap-vertical {
    margin-top: 0.5rem;
  }
  
  .gap-horizontal {
    margin-left: 0.5rem;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .back-button {
    font-size: 1.5rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }
  
  .homepage-shortcut {
    padding: 10px;
    background-color: white;
    border: 0.1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 6rem;
  }
  
  .homepage-shortcut.selected {
    background-color: #fef1c7;
  }
  
  .clickable-item-text {
    display: flex;
    text-align: center;
  }
  
  @media (min-width: 480px) and (max-width: 992px) {
    .clickable-item p {
      font-size: x-small;
    }
  
    .clickable-item {
      height: 5rem;
    }
  
    .support-email-container {
      width: 10rem;
    }
  }
  
  @media (max-width: 480px) {
    .clickable-item p {
      display: none;
    }
  
    .clickable-item {
      height: 3rem;
    }
  
    .support-email-container {
      width: 10rem;
    }
  }
  
  .calendar-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .calendar {
    width: 100% !important;
  }
  
  .content-dialog {
    min-width: 0;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    margin: 0.25rem 0;
    background-color: white;
    padding: 1rem;
  }
  
  .content-card {
    min-width: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0.75rem 0;
    background-color: white;
    padding: 2rem;
  }
  
  .black-link {
    color: black;
    text-decoration: none;
  }
  
  .black-link {
    color: black;
    text-decoration: none;
  }
  
  .select-with-icon .icon {
    font-size: 16px;
    color: #000;
    margin-right: 5px;
  }
  
  .tag-container {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  
  .button-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
  }
  
  .button-row .button {
    margin-top: 0.2rem;
  }
  
  .button-tag {
    padding: 0.2rem;
    margin-right: 10px;
    border: 0.05rem solid #ccc;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    font-size: small;
  }
  
  .button-tag.big.selected {
    background-color: #ffd000;
  }
  
  .button-tag.new {
    padding: 0.5px 0.7px;
    border: none;
  }
  
  .button-tag.small {
    background-color: dodgerblue;
    position: relative;
    width: 25px;
  }
  
  .button-tag.small.edit {
    margin-left: 10px;
    background-color: dodgerblue;
  }
  
  .button-tag.small.remove {
    background-color: crimson;
  }
  
  .dropdown-field {
    position: relative;
  }
  
  .faq-button {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.05rem solid #ccc;
    justify-content: center;
    background-color: white;
    cursor: pointer;
  }
  
  .faq-text {
    font-size: larger;
  }
  
  .faq-icon {
    font-size: 5rem;
  }
  
  .faq-question {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
  }
  
  .faq-question .icon {
    margin-right: 0.5rem;
    color: #ffd000;
  }
  
  .faq-question .question {
    font-size: large;
    font-weight: 600;
  }
  
  .long-content-divider {
    width: 28.9375rem;
    height: 0.0625rem;
    background: #DDD;
  }
  
  .medium-content-divider {
    width: 26.9375rem;
    height: 0.0625rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #DDD;
  }
  
  .support-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.05rem solid #ccc;
    margin: 1rem 0;
    padding: 0 1rem;
  }
  
  .support-email-container {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    width: 20rem;
    border: 0.05rem solid #ccc;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .support-email {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: x-large;
  }
  
  .support-email i {
    margin-right: 0.5rem;
  }
  
  .row.calendar-event {
    align-content: center;
  }
  
  .col.calendar-event-title {
    margin-left: 10px;
    flex: 1;
    text-align: left
  }
  
  .col.calendar-event-applicants {
    text-align: right;
    margin-right: 10px;
  }
  
  .calendar-event-applicants-box {
    background-color: white;
    color: #000;
    display: inline-flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    align-items: center;
  }
  
  .fas.fa-user-alt.calendar-event-applicant-icon {
    margin-right: 10px;
    font-size: 18px;
  }
  
  @media (min-width: 480px) and (max-width: 992px) {
    .support-email-container {
      width: 15rem;
    }
  
    .support-email {
      font-size: large;
    }
  }
  
  @media (max-width: 480px) {
    .support-email-container {
      width: 10rem;
    }
  
    .support-email {
      font-size: small;
    }
  }
  
  .ColorBox {
    width: 50rem;
    height: 50rem;
  }
  
  /* StoreSelectDialog */
  .store-select-dialog {
    border-radius: 10px;
    padding: 10px;
    border: solid #fac000;
    background-color: white;
    position: absolute;
    right: 120px;
    width: 400px;
    box-shadow: 5px 5px 5px gray;
  }
  
  .store-select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .store-select-dialog hr {
    margin: 5px 0 10px 0;
  }
  
  .store-list {
    max-height: 200px;
    overflow: auto;
    scrollbar-width: none;
  }
  
  .store-list .topbar-text {
    margin-right: auto;
  }
  
  .store-select-footer {
    display: flex;
    justify-content: flex-end;
  }